.wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 700px;
  height: auto;
  background-color: rebeccapurple;
  margin-top: 50px;
  box-shadow: 1px 6px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 6px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 6px 10px 0px rgba(0, 0, 0, 0.75);
}
.main-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-list li {
  list-style: none;
  width: 500px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: orange;
}
.edit-del {
  margin-left: auto;
}
.edit {
  padding: 6px 30px;
  margin-left: 10px;
}
.del {
  padding: 7px 30px;
}
/* .edit {
  margin-left: 310px;
  margin-right: 20px;
} */

.selec {
  padding: 5px 70px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
}
.opt {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 500;
}
.drop-down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.head {
  display: flex;
  justify-self: center;
  align-items: center;
  margin-top: 30px;
  color: white;
  margin-bottom: 30px;
  box-shadow: 3px 6px 13px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 6px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 6px 13px 0px rgba(0, 0, 0, 0.75);
}
.spa {
  margin-left: 170px;
}
